{% extends 'base.html' %}
{% load i18n %}


{% block title %}{% trans 'Making cuts for produce clothes' %}{% endblock %}

{% block content %}

{% include 'nest/main_bar.html' %}

<div class="row">
  <div class="col-4"><h1>fashions</h1></div>
</div>

<div class="row">
 {% for fashion in fashions %}
    <div class="col-3">
     <h2 class="text-center">{{ fashion.categories.name }}</h2>
   </div>
   <div class="col-3">
     <a href="{% url 'items_list' fashion.id %}" >
       <img class="img-responsive img-circle cn-cat-image" src="{{ MEDIA_URL }}{{ fashion.image }}">
     </a>fashion
   </div>
   <div class="col-6">
     <h2 class="text-center">{{ fashion.name }}</h2>
   </div>
 {% endfor %}
</div>

{% endblock %}
