{% extends 'base.html' %}
{% load i18n %}


{% block title %}{% trans 'Making cuts for produce clothes' %}{% endblock %}

{% block content %}

 <div class="row">
    <div class="col-4"><h1>fashions_list</h1></div>
     <img class="cn-cat-image" alt="Трусики" src="/media/photos/2018/03/14/КНОПКИ_КАТЕГОРИЙ_ДЛЯ_САЙТА-1.png">
     <img class="cn-cat-image" alt="Трусики" src="/media/photos/2018/03/14/КНОПКИ_КАТЕГОРИЙ_ДЛЯ_САЙТА-10.png" data-hover-src="/media/photos/2018/03/14/КНОПКИ_КАТЕГОРИЙ_ДЛЯ_САЙТА-25.png">
 </div>

{% endblock %}
