html, body {
    height: 100%;
    overflow-x: hidden;
}

.cn-cat-image {
    width: 80px;
}

.cnp-produce-amount {
    color: red;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}